NOME="Nome Exemplo"
EMAIL="exemplo@email.com"
NASCIMENTO="DD/MM/AAAA"
TELEFONE="11999999999"
SENHA="SuaSenhaAqui"
DB_HOST="localhost"
DB_PORT=5432
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_NAME="backend"